

.header,
.footer,
.sidebar,
.main {
  padding: 60px;
}

.header {
  color: rgb(7, 7, 7);
  background-color: #c1eb91;
  
}
.footer {
  background-color: #c1eb91;
}
.main {
  background-color: #c1eb91;
  font-family:Arial, Helvetica, sans-serif;
  border: #000000;
}
.sidebar {
  background-color: #c1eb91;
}
body {
    margin: 0 auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    column-gap: 1%;

    grid-template-rows: auto auto ;
    row-gap: 2%;
  }

  .header,
  .footer {
    grid-column:span ;
  }

  .header,
  .footer {
    grid-column-start: 1;
    grid-column-end: 3;
  }
.header {
    grid-row: 1; 
    
  }

  .footer {
    grid-row: 3;

  }
  .sidebar {
    grid-column: 1;
    grid-row: 2;

  }
  .main {
    grid-column: 2;
    grid-row: 2;
  }
  @media (max-width: 400px) {
    .container {
      display: block;
    }
  }
